fieldset#logBox {
  border: 1px dotted rgb(153, 153, 153);
  max-width: 800px;
}

fieldset#logBox legend {
  text-align: center;
  background-color: rgb(119, 119, 119);
  padding: 2px 5px;
  margin-top: -0.5rem;
  color: white;
  font: normal 12px/15px verdana, arial;
}

pre#jql_logger {
  max-width: 800px;
  max-height: 600px;
  overflow: auto;
  margin: 0;
  white-space: pre-wrap;
}